<div class="content-blurb shadow">
<h3 class="content-header">Manage DHCP Ranges</h3>
<hr>
<table id="dhcp-index-table" class="table table-striped table-borded table-hover table-condensed">
	<thead>
  <tr>
    <th>Start IP address</th>
    <th>End IP address</th>
    <th>Options</th>
  </tr>
	</thead>
	<tbody>
	</tbody>
</table>

<br />

<%= link_to 'New Dhcp range', new_dhcp_range_path %>
</div>
