<div class="span10 content-blurb shadow">
	<h3 class="content-header">New Device Type</h3>
	<div class="subnav-group"><%= link_to 'Back', device_types_path %></div>
	<hr>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#new_device_type').validate({
				meta: "validate"
			});
		});
	</script>
	<%= form_for(@device_type) do |f| %>
	<table class="table table-striped table-bordered table-hover table-condensed">
	   <tr>
				<td>Device Name<em>*</em>:</td>
				<td><%= f.text_field :name, :class => "{validate: {required: true, minlength: 2, maxlength: 50}}" -%></td>
	   </tr>
	</table>
	<%= f.submit :class => "btn btn-primary"-%>
	<%- end -%>
</div>
