<% url = IpDatabase::Application.routes.url_helpers %>
$(document).ready(function(){
	$('#dt-index-table').dataTable({
			"bServerSide": true,
			"bAutoWidth": false,
			"sAjaxSource": "<%= url.url_for :controller => 'device_types', :action => 'dataTable', :only_path => true %>",
			"fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	      oSettings.jqXHR = $.ajax( {
				 dataType: 'json',
         type: "POST", 
 	   		 headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') },
 	       url: sSource,
 	       data: aoData,
 	       success: fnCallback
 	      } );
 	    },
			"aoColumnDefs": [
				{ "bSearchable": false, "aTargets": [ 0,1 ] },
				{ "sWidth": "20%", "aTargets": [ 0,1,2,3,4 ] },
				{
					"mRender": function ( data, type, full ) {
					        return '<a href="/device_types/'+data+'">Show</a><br/>'+
											'<a href="/device_types/'+data+'/edit">Edit</a><br/>'+
											'<a rel="nofollow" data-method="delete" data-confirm="Are you sure?" href="/device_types/'+data+'">Destroy</a>';
									      },
					"aTargets": [4]
				}
			]
		});
});
