<% url = IpDatabase::Application.routes.url_helpers %>
$(document).ready(function(){
	$('#dhcp-index-table').dataTable({
			"bServerSide": true,
			"bAutoWidth": false,
			"sAjaxSource": "<%= url.url_for :controller => 'dhcp_ranges', :action => 'dataTable', :only_path => true %>",
			"fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	      oSettings.jqXHR = $.ajax( {
				 dataType: 'json',
         type: "POST", 
 	   		 headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') },
 	       url: sSource,
 	       data: aoData,
 	       success: fnCallback
 	      } );
 	    },
			"aoColumnDefs": [
				{ "bSearchable": false, "aTargets": [ 0,1,2 ] },
				{ "sWidth": "30%", "aTargets": [ 0,1,2,3 ] },
				{
					"mRender": function ( data, type, full ) {
						if(data==="None")
							return data
						else
							return "<a href='/networks/"+data[0]+"'>"+data[1]+"</a>"
					},
					"aTargets": [2]
				},
				{
					"mRender": function ( data, type, full ) {
					        return '<a href="/dhcp_ranges/'+data+'">Show</a><br/>'+
											'<a href="/dhcp_ranges/'+data+'/edit">Edit</a><br/>'+
											'<a rel="nofollow" data-method="delete" data-confirm="Are you sure?" href="/dhcp_ranges/'+data+'">Destroy</a>';
					},
					"aTargets": [3]
				}
			],
			"fnDrawCallback": function( oSettings ) {
				$('.paginate_disabled_previous').addClass("btn disabled");
				$('.paginate_disabled_next').addClass("btn disabled");
				$('.paginate_enabled_previous').addClass("btn");
				$('.paginate_enabled_next').addClass("btn");
				$('.paginate_enabled_previous').removeClass("disabled");
				$('.paginate_enabled_next').removeClass("disabled");
			}

		});
});
