<div class="content-bg shadow span4">
	<h2>Announcements</h2>
	<p>
		Recent announcements will be viewable from
		here.
	</p>
	<p>
		We will need to decide whether we will be using
		a model we create, or some sort of Wiki to add
		the announcements feature.
	</p>
</div>

<div class="content-bg shadow span4">
	<h2>Statistics</h2>
	<p>
		Current key statistics will be viewable from
		here.
	</p>
	<p>
		We need to ask what comprises key statistics.
		We could probably decide on our own, but I would
		much rather hear from the client what they view as
		being the most important bits of information to see
		when they only have a moment to glance at the site.
		We could even ask what sort of statitistics are good
		and what are bad so that we could take advantage of
		Bootstrap's "Alerts" component.
</div>

<div class="content-bg shadow span4">
	<h2>Recent Changes</h2>
		A log of the most recent changes will be
		viewable from here.
		Will need to call 
		SELECT name, updater_id  FROM networks LIMIT 25
</div>
